$accent_color: #18b776;
$primary_color: rgb(48, 48, 48);
$normal_grey:rgb(160, 160, 160);
$light_grey:rgb(199, 199, 199);
$light_grey_1:rgb(240, 240, 240);

$p_v: 12px;
$p_h: 18px;
$s_1: 8px;
$s_2: 12px;
$s_3: 16px;
$s_4: 24px;
$s_5: 36px;
$padding: $p_v $p_h;

$ease-custom-1: cubic-bezier(0.560, 0.045, 0.000, 1.000);
